@import './../../index.scss';

.button {
  border: none;
  border-radius: 0.2rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.02rem;
  padding: 1rem 1.5rem;
  transition: all .3s ease-in-out;

  &:hover {
    cursor: pointer;
  }

  &--primary {
    background-color: getColour(primary);

    &:hover {
      background-color: getColour(primary, dark);
    }
  }

  &--light {
    border: 0.1rem solid getColour(light);
    background-color: #FFFFFF;
   
    &:hover {
      background-color: rgba(0, 0, 0, 0.03);
      border: 0.1rem solid getColour(primary);
    }

    .button__label {
      color: getColour(dark);
    }
  }

  &--danger {
    background-color: getColour(danger);

    &:hover {
      background-color: getColour(danger, dark);
    }
  }
}
