.app {
  &__body {
    padding: 2rem;
  }

  &__category-list {
    display: flex;
    justify-content: space-evenly;
  }

  &__featured {
    margin: 2em 0;
  }

  &__featured-items {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
  }
}
